
.account{
    position: relative;
    background-color: #ffd5f9;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    
    min-height: 40vh;
    & div{
        width: 90vw;
    }
}
.label{
    position: relative;

}
.profile{
    background-color: #ffebfc;
    
}
button{
    width:200px ;
}
.profile ul li {
    margin-top: 10px;
}